.calendar-wrapper {
    width: 300px;
    text-align: center;
}

::ng-deep .available .mat-calendar-body-cell-content {
    background-color: rgba(14, 152, 5, 0.25);
}

::ng-deep .mat-calendar-body-cell[disabled]{
    pointer-events: none;
}
::ng-deep .mat-calendar-body-cell[disabled] .mat-calendar-body-cell-content {
    background-color: rgba(128, 128, 128, 0.637);
}